# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Python files
__pycache__

# Application files
/python/*.zip

# Terraform files
/.terraform
terraform.tfstate*
.terraform.lock*
*.tfvars
*.tfplan
